@use "../abstracts" as *;

.#{$prefix} {
	&container {
		--max-width: #{$container-max-width};
		--padding: #{$container-min-margin-inline} * 2;

		margin-inline: auto;
		width: min(100% - var(--padding), var(--max-width));
	}

	&container[data-type="narrow"] {
		--max-width: #{$container-max-width-narrow};
	}
	&container[data-type="wide"] {
		--max-width: #{$container-max-width-wide};
	}
	&container[data-type="full-bleed"] {
		--max-width: 100%;
	}
}
