@use "../abstracts/" as *;

.#{$prefix} {
	&nav {
		--flex-column-gap: #{$navigation-gap};
		font-family: $navigation-font-family;
		font-weight: $navigation-font-weight;
		list-style: none;

		a {
			color: $navigation-color;
			text-decoration: $navigation-link-text-decoration;

			&:is(:hover, :focus) {
				color: $navigation-color-hover;
			}
		}
	}
}
