@use "../abstracts/" as *;

.#{$prefix} {
	&card {
		background-color: $card-background-default;
		color: $card-color-default;
		border-radius: $card-border-radius;
		box-shadow: $card-shadow;
		display: grid;
		font-family: $card-font-family;
		gap: $card-flow-spacing;
		line-height: $card-line-height;
		padding: $card-body-padding;

		&__heading {
			@include heading($card-heading-font-size, $card-heading-color-default);
		}

		&[data-type="testimonial"] &__body {
			position: relative;
			isolation: isolate;

			&::after {
				--position: -10px;

				position: absolute;
				content: "\201C";
				z-index: -1;
				font-family: $card-font-family;
				font-size: calc(var(--fs-900) * 4);
				top: var(--position);
				left: calc(var(--position) * 3);
				transform: translate(0%, -24%);
				opacity: 0.1;
			}
		}
	}
}
